html{
    height: 100%;
    background-color: #dadedc;
}
*{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

div{
    overflow: auto;
}

img{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

/*menü css*/
nav{
    background-color: #030304;
    display: flex;
    justify-content: space-between;
}
nav ul{
    margin: 15px;
    padding: 15px;
    margin: auto;
}
nav ul li{
    display: inline;
    margin: 20px;
    color: white;
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Benne', serif;;
}
nav ul li a:hover{
    background-color: #a7cfe8;
    color:  #2a5887;
    border-radius: 5px;
    box-shadow: 5px 5px 20px white;
}
.border{
    border-right: 3px solid white;
    padding-right: 4px;
}

.right li{
    float: right;
    margin: 0;
}


.right{
    float: right;
    margin: auto;
}


/* temel ayarlar */
.mycontainer{
    width: 80%;
    margin: auto;
    background-color: #dadedc;
    padding: 0;
    padding-bottom: 100px;
}
.content{
    width: 100%;
    margin-top: 60px;
}
.column-100,
.column-75,
.column-50,
.column-25{
    float: left;
}
.column-100{width: 100%;}
.column-75{width: 75%;}
.column-50{width: 50%;}
.column-25{width: 25%;}

/* anasayfa */
.mrb{
    margin-top: 25%;
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
}
.Sd{
    font-size: 50px;
    font-family: 'Silkscreen', cursive;
}
.Fd{
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
}

/* dünya */
.bilgisayar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.computer{
    width: 100%;
    height: 100%;
    position: relative;
}

.dunya{
    width: 160px;
    height: 160px;
    margin: auto;
    background-color: #a7cfe8;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -34%)
}

.dunya_harita{
    width: 160px;
    height: 200px;
    background: url(img/dunya.png);
    background-size: contain;
    animation: donus 7s linear 0s infinite;
}

@keyframes donus{
    from{}
    to{background-position: -400px 0;}
}


/* hakkımda */
.hakkimda-text{
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Merriweather', serif;
}

.hkkmda{
    font-family: 'Merriweather', serif;
}

.tan{
    margin: auto;
    margin-left: 80px;
    width: 40%;
    margin-top: 30px;
}

.column-50 .kariyer:first-letter{
        color: #2a5887;
        font-size: 30px;
}

.animate{
    animation: yazi 2s infinite;
    transition: 0.9s;
}
@keyframes yazi{
    0%{color: black;}
    50%{color: #dadedc;}
    100%{color: black;}
}

.cv{
    width: 160px;
    height: 40px;
    background-image: linear-gradient(rgb(167, 207, 232), rgb(157, 182, 201));
    border: 3px solid white;
    border-radius: 10px;
    font-size: 17px;
    
}
.cv a{
    text-decoration: none;
}
.cv a:visited{
    color: #2a5887;
}
.cv a:link{
    color: #2a5887;
}

.cv:hover{
    background-image: linear-gradient(white, #efefef);
    
    border: 3px solid #2a5887 ;
}


.cvi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 3px solid white;
    background-color:rgb(167, 207, 232); 
    border-radius: 15px;
    margin: 0 5px 0 0;
   
}
.cvi i{
    color: #2a5887;
    margin: auto;
    text-align: center;
}

.cvi:hover{
    background-image: linear-gradient(white, #efefef);
    border: 3px solid #2a5887 ;
}

/* çalışmalar */

.clsma,
.prje{
    text-align: center;
    font-family: 'Merriweather', serif;
}

.column-25{
    position: relative;
    margin: auto;
    padding: 5px;
}

.column-25 img{
    display: inline-block;
    margin-left: 7px;
    height: auto;
    width: 280px;
    height: 280px;
    border: 5px solid #2a5887;
    background-color: #c5c5c5;
    border-radius: 15px;
    
}
.column-25 a{
    text-decoration: none;
    color: black;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:#a7aba9a5;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  margin: auto;
    }

.column-25:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text p{
  color: #c7c7c7;
  position: absolute;
  font-size: 13px;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid #2a5887 ;
  border-radius: 15px;
  background-color: #2a5887;
}
.text p a{
    color: #c7c7c7;
}
p{
    font-family: 'Merriweather', serif;
}



/*footer css*/
.cls_footer{
    width: 100%;
    height:400px;
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'Benne', serif;

}

.card {
    box-shadow: 0 4px 8px 0 #2a5887;
    width: 300px;
    height: 95%;
    margin: auto;
    text-align: center;
  }

.card img{
    width: 170px;
    height: 170px;
    border: 1px solid #2a5887;
}
  
.card .title {
    color: grey;
    font-size: 13px;
}

.card p{
    font-size: 13px;
}
  
.card button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color:#a7cfe8;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
  
.card a{
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  
.card button:hover, a:hover {
    opacity: 1;
  }

.card button:hover{
    border: 2px solid #2a5887 ;
    background-color: rgba(255, 255, 255, 0.736);
    color: #2a5887 ;
}

::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-thumb{
    background-color: #a7cfe8;
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background-color: #a7aba9;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #2a5887;
    border: 1px solid #a7cfe8;
}

/* Ekran boyutu*/
@media screen and (max-width:1472px){
    .dunya{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:1440px) {

    .column-25{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    }
    .overlay{
        width: 280px;
        height: 280px;
    }
}
@media screen and (max-width:1381px){
    .dunya{
        width: 135px;
        height: 135px;
    }
}
@media screen and (max-width:1210px){
    .Sd{
        font-size: 40px;
    }
}
@media screen and (max-width:1200px){
    .computer{
        width: 100%;
    }
    .tan{
        margin: auto;
        margin-left: 80px ;
        margin-top: 120px;
    }
    .dunya{
        width: 127px;
        height: 127px;
    }
}
@media screen and (max-width:1381px){
    .dunya{
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width:1030px){
    .dunya{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:960px){
    .Sd{
        font-size: 32px;
    }
}

@media screen and (max-width:850px){
    .mycontainer{
        width: 95%;
        text-align: center;
    }
    .computer{
        width: 100%;
    }

    .dunya{
        width: 160px;
        height: 160px;
    }

    .column-25{
        width: 100%;
        margin: auto;
    }

    .overlay{
        width: 280px;
        height: 280px;
    }

    nav{
        display: none;
    }

    .mrb{
        margin-top: 0;
    }

    .column-50{
        width: 100%;
        margin: auto;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
    .tan{
        margin: auto;
        margin-top: 0px;
        height: 300px;
    }
    .belge{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:600px){
    .bilgisayar{
    display: none;
}
}







  


